:root {
  --primary-color: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --boxshadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --boxshadowlight: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
  --borderbottom: 2px solid var(--Grey-dark-2);
  --borderbottomlight: 2px solid var(--Grey-light-1);
  --bordertransparent: 2px solid transparent; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--Grey-dark-3); }

.header__logo {
  height: 3rem;
  margin-left: 2rem; }

.header__search {
  flex: 0 0 40%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header__search {
      order: 1;
      flex: 0 0 100%;
      justify-content: center;
      background-color: var(--Grey-light-1); } }
  .header__search-input {
    border: none;
    padding: 1rem 2rem;
    background-color: var(--Grey-light-1);
    border-radius: 100px;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    width: 90%;
    margin-right: -3.5rem;
    transition: all .3s; }
  .header__search-input:focus {
    outline: none;
    width: 100%; }

.btn {
  border: none;
  background-color: var(--Grey-light-1); }
  .btn:focus {
    outline: none; }
  .btn__logo {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--Grey-dark-3); }

.user {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center; }
  .user > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color .4s; }
  .user > *:hover {
    background-color: var(--primary-color); }
  .user__box {
    position: relative; }
  .user__logo {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--Grey-dark-2); }
  .user__notification {
    position: absolute;
    top: 1rem;
    right: .1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }
  .user__profile-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.sidebar__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__nav {
      flex-direction: row;
      margin-top: 0; } }

.sidebar__item {
  position: relative;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__item {
      flex: 1;
      margin-bottom: 0; } }
  .sidebar__item::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(1, 0.01, 0.13, 1.01) 0.2s, background-color 0.1s; }
  .sidebar__item-active::before, .sidebar__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar__item:active::before {
    background-color: var(--primary-light); }

.sidebar__link:visited, .sidebar__link:link {
  align-self: stretch;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Grey-light-2);
  font-size: 1.5rem;
  margin: 1rem 0;
  z-index: 10;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .sidebar__link:visited, .sidebar__link:link {
      justify-content: center;
      padding: 1rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar__link:visited, .sidebar__link:link {
      flex-direction: column;
      padding: 0; } }

.sidebar__icon {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 2.5rem;
  fill: currentColor; }

.legal {
  font-size: 1.4rem;
  color: #fff;
  padding: 2rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  height: 5rem;
  align-items: center;
  color: var(--Grey-dark-2);
  border-bottom: var(--borderbottom);
  background-color: white; }
  .overview__name {
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__name {
        font-size: 1.4rem;
        padding: 1rem; } }
  .overview__svg {
    display: flex;
    margin-right: auto; }
  .overview__rating {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--primary-color); }
    @media only screen and (max-width: 31.25em) {
      .overview__rating {
        height: 1.25rem;
        width: 1.25rem; } }
  .overview__location {
    display: flex;
    margin-right: 2rem; }
    .overview__location-icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--primary-color); }
  .overview__reviews {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
    .overview__reviews:hover {
      background-color: var(--primary-color); }
    .overview__reviews-average {
      font-size: 1.4rem;
      font-weight: 700; }
      @media only screen and (max-width: 37.5em) {
        .overview__reviews-average {
          font-size: 1.1rem; } }
    @media only screen and (max-width: 37.5em) {
      .overview__reviews {
        padding: 0 1rem; } }

.btn__inline {
  border: none;
  border-bottom: var(--bordertransparent); }
  .btn__inline:focus {
    outline: none;
    animation: pulstates 1s infinite; }
  .btn__inline:hover {
    border-bottom: var(--borderbottom); }

.descriptions__content:not(:last-of-type) {
  margin-bottom: 1rem; }

.descriptions__content:last-of-type {
  border-bottom: var(--borderbottomlight); }

.descriptions__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border-bottom: var(--borderbottomlight); }
  .descriptions__list-item {
    flex: 0 0 50%; }

.recommend {
  display: flex;
  justify-content: space-between; }
  .recommend__friend {
    display: flex;
    align-items: center; }
  .recommend__photo {
    display: flex; }
  .recommend__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: -1.5rem;
    border: 1px solid white; }

.reviews__content {
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxshadowlight); }
  @media only screen and (max-width: 37.5em) {
    .reviews__content {
      padding: 2rem;
      margin-bottom: 1rem; } }

.reviews__text {
  margin-bottom: 1rem; }

.reviews__user {
  display: flex;
  align-items: center; }

.reviews__photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem; }

.reviews__user-box {
  margin-right: auto; }

.reviews__user-name {
  font-weight: 700; }

.reviews__user-date {
  font-size: 1rem;
  font-weight: 400; }

.reviews__user-rating {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: .5rem; }

.cta {
  font-size: 1.7rem;
  padding: 2rem;
  text-align: center; }
  .cta__content {
    margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 1rem; } }

.button {
  border: none;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  color: white;
  font-weight: 400;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 100px; }
  .button > * {
    display: inline-block;
    transition: all .3s;
    height: 100%;
    width: 100%; }
  .button:focus {
    outline: none;
    animation: pulstates 1s infinite; }
  .button__visible {
    padding: 2rem 7rem; }
  .button__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0; }
  .button:hover .button__visible {
    transform: translateY(100%); }
  .button:hover .button__invisible {
    top: 0; }

@keyframes pulstates {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--Grey-light-2);
  box-shadow: var(--boxshadow);
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      max-width: 100%; } }

.header {
  display: flex;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--borderbottom);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      border-bottom: none; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--Grey-dark-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel {
  flex: 1; }

.details {
  display: flex;
  border-bottom: var(--borderbottomlight);
  background-color: var(--Grey-light-2);
  padding: 2rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.descriptions {
  flex: 0 0 65%;
  padding: 1rem 2rem;
  box-shadow: var(--boxshadowlight); }
  @media only screen and (max-width: 37.5em) {
    .descriptions {
      margin-bottom: 2rem; } }

.reviews {
  flex: 1;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .reviews {
      padding: 0; } }
